html, body {
  margin:0px;
  padding:0px;
}

* {
  font-family: helvetica;
  color: white;
}

body {
   background-color: black;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../images/gradientWaves.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  /*  background-color: #6c36c1; */
    width: 100%;
    height: 60px;
}

h1 {
  /*font-size: 3em;
  font-weight: 100;*/

}

#title {
height: 60px;
margin-top: 0;
padding-top: 15px;
vertical-align: middle;
font-size: 1.5em;
font-weight: bold;
padding-left: 65px;
  /*height: 60px;
  margin-top: 0;
  padding-top: 10px;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
  text-align: center;


  /* height: 60px;
  margin-top: 0;
  vertical-align: middle;
  padding-left: 2%;
  text-align: center; */
}

#navigation {
  font-size: 1em;
  position: fixed;
  width: 100%;
  /*bottom: 30px;*/
  bottom: 0;
  background-color: #333333;
  left: 0;
  right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navlink {
    float: left;
    width: 19.9%;
    background-color: #333333;
}

.borderLeft {
  border-right: .1px solid white;
  top: 20%;
  bottom: 20%;
}

.navlink a {
    display: block;
    color: grey;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

.navlink a:hover {
    color: white;
}

.navlink a.active {
  color: white;
}

.searchBarDesk {
  margin: auto;
  margin-top: 4%;
  width: 60%;
}

.searchBarPhone {
  width: 100%;
  margin-top: 10%;
}

.search {
  color: black;
  width: 80%;
  height: 50px;
  font-size: 1.25em;
  border-radius: 25px;
  border: none;
  /*background-image: url('search-icon.png');*/
  background-size: 23px 23px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 33px;
  outline: none;
}

.smallSearch {
  color: black;
  width: 68%;
  height: 35px;
  font-size: 1.25em;
  border-radius: 25px;
  border: none;
  /*background-image: url('search-icon.png');*/
  background-size: 23px 23px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 33px;
  outline: none;
}

.labelDesk {
  padding-right: 10px;
  vertical-align: 0%;
  font-size: 1.25em;
  color: grey;
  padding-bottom: 300px;
}

.labelDesk-placeholder {
  color: green;
}

.labelPhone {
  padding-right: 8px;
  padding-left: 25px;
  vertical-align: middle;
  font-size: 1em;
  color: grey;
}


.ui-autocomplete {
    /*color: green;
    border-radius: 5px;
    border: 2px solid grey;*/
}

.ui-autocomplete li {
  background-color: black;
  width: 100%;
  padding-top: 12px;
  vertical-align: middle;
  height: 30px;
  text-align: left;
  padding-left: 12px;
}


#dropdown {
  width: 50%;
  margin: auto;
  color: white;
}

#dropdown li{
  background-color: black;
  width: 100%;
  padding-top: 12px;
  vertical-align: middle;
  height: 30px;
  text-align: left;
  padding-left: 12px;
}

#dropdown li:hover {
  font-weight: bold;
  color: green;
}

.upNextTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 40px;
}

.smallSearch {
  color: pink;
}

.playPhone
{
  width: 100%;
  margin-top: 4%;
  margin: auto;
  overflow: visible;
  display: block;
}

.playPhone li{
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  text-align: left;
  padding-left: 8px;
  vertical-align: middle;
  padding-top: 10px;
}

.artist {
  margin-top: 1px;
  font-size: .8em;
  color: grey;
}


.suggPhone {
  width: 88%;
  margin: auto;
  overflow: visible;
  display: block
}

.playDesk {
  width: 60%;
  margin-top: 20px;
  margin: auto;
  overflow: visible;
  display: block;
  float: left;
  margin-left: 2.5%;
  margin-right: none;
  /*border: 2px solid white;*/
}

.playDesk li {
    height: 40px;
    text-align: center;
    background-color: black;
    text-align: left;
    padding-left: 75px;
    padding-top: 10px;
}

.suggDesk {
  width: 25%;
  margin-top: 20px;
  margin: auto;
  overflow: visible;
  display: block;
  /*border: 2px solid white;*/
  float: right;
  margin-left: 1%;
  margin-right: 5%;
}

/*#songList {
  border: 2px solid #333333;
  border-color: white;
}*/



.selected {
    font-weight: bold
}

#playbar {
  width: 100%;
  text-align: center;
  background-color: #6c36c1;
  height: 40px;
  bottom: 100px;
  position: fixed;
}

.playbutton {
  color: black;
  margin-top: 10px;
}


li {
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  border-width: 2px;
  border-color: #333333;
}

h2 {
  font-size: 1.5em;
  font-weight:;
  text-align: center;
  margin-top: 50px;
}

h3 {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

#pintitle {
   color: grey;
   font-size: 2em;
   font-weight: 100;
   margin-bottom: 1px;
}

#pinpage {
  width: 60%;
  margin: auto;
}
#pin {
  width: 460px;
  /*height: 100px;*/
  margin: auto;
  padding-top: 1%;
}
.pin {
  width: 75px;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

#submitPin {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 40px;
  padding: 15px 30px 15px 30px;
  background-color: #6c36c1;
  width: 220px;
  border-radius: 35px;
  border: none;
}

#hostButton {
  color: lightgrey;
  font-size: 1em;
  font-weight: lighter;
  margin-top: 1px;
  padding: 20px;
  background-color: #3e26c6;
  width: 200px;
  border-radius: 35px;
  border: none;
  margin-bottom: 30px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

#footer {
  position: fixed;
  width: 100%;
  background-color: #333333;
  bottom: 0;
  left: 0;
  right: 0;
}

.copyrightDesk {
  text-align: center;
  color: grey;
}
